html, body {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.form-control {
    margin-bottom: 5px;
}

.panel-body {
    padding: 0px;
}

textarea {
    resize: vertical;
}

#splashscreen {
    z-index: 9999;
    width: 500px;
    height: 500px;
    margin-left: -100px;
    margin-top: -40px;
    position: fixed;
    top: 20%;
    left: 40%;
    background: url('../Images/loading.gif') no-repeat;
    opacity: 0.6;
    filter: alpha(opacity=60);
}

#contentloading {
    z-index: 3000;
    position: relative;
    width: 120px;
    height: 120px;
    margin-top: 40px;
    top: 50%;
    left: 45%;
    background: url('../Images/loading6.gif') no-repeat;
    opacity: 0.65;
    filter: alpha(opacity=65);
}

.center {
    text-align: center;
}

.navbar-header {
    height: 60px !important;
}

.width-80 {
    width: 80px !important;
}

.width-20 {
    width: 20px !important;
}

.width-200 {
    width: 120px !important;
}

.body-content {
    /*min-height: 600px; */
    min-height: 600px;
}

button.dim {
    margin-bottom: 0px !important;
}

.filtergroup {
    width: 36px;
    margin-right: 0px !important;
    height: 34px !important;
    max-height: 34px !important;
    margin-bottom: 0px !important;
}

.button-icon {
    width: 36px;
    margin-right: 0px !important;
    margin-left: 10px;
}

.bold {
    font-weight: bold !important;
}

#table-operator tr {
    cursor: pointer;
}

    #table-operator tr:hover {
        background-color: rgb(250, 193, 131);
    }

.modal-body {
    max-height: calc(100vh - 200px);
    overflow-y: auto;
}

#button-find {
    position: relative;
    top: 14px;
    display: none;
}

#button-back {
    margin-top: 14px;
}

.button-result-view.active {
    background-color: #1c84c6;
    border-color: #1c84c6;
    color: #FFFFFF;
}

    .button-result-view.active:hover, .btn-default.active:focus {
        background-color: #1a7bb9 !important;
        border-color: #1a7bb9 !important;
        color: #FFFFFF !important;
    }

.result-sortable li {
    padding-right: 0px;
}

.modal-full {
    width: 100% !important;
    height: 100%;
    padding: 0;
    margin: 0;
}

.c3 {
    /*width:100% !important;
    min-height: 1000px;*/
}

.amchart {
    width: 100%;
    height: 400px;
    text-align: left;
    overflow: hidden;
}

/*  Widget Config */

.bip-widget
{
    min-height: 300px !important;
    vertical-align: middle;    
}

.widget-config {
  position: absolute;
  top: 80px;
  right: 0;
  overflow: hidden; }

.widget-config-box {
  margin-right: -220px;
  position: relative;
  z-index: 2000;
  transition-duration: 0.8s; }

.widget-config-box.show {
  margin-right: 0; }

.spin-icon {
  background: #1ab394;
  position: absolute;
  padding: 7px 10px 7px 13px;
  border-radius: 20px 0 0 20px;
  font-size: 16px;
  top: 0;
  left: 0;
  width: 40px;
  color: #fff;
  cursor: pointer; }

.skin-setttings {
  width: 220px;
  margin-left: 40px;
  background: #f3f3f4; }

.skin-setttings .title {
  background: #efefef;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  display: block;
  padding: 10px 15px;
  font-size: 12px; }

.setings-item {
  padding: 10px 30px; }

.setings-item.skin {
  text-align: center; }

.setings-item .switch {
  float: right; }

.skin-name a {
  text-transform: uppercase; }

.setings-item a {
  color: #fff; }

.default-skin, .blue-skin, .ultra-skin, .yellow-skin {
  text-align: center; }

.default-skin {
  font-weight: 600;
  background: #283A49; }

.default-skin:hover {
  background: #1e2e3d; }

.blue-skin {
  font-weight: 600;
  background: url("patterns/header-profile-skin-1.png") repeat scroll 0 0; }

.blue-skin:hover {
  background: #0d8ddb; }

.yellow-skin {
  font-weight: 600;
  background: url("patterns/header-profile-skin-3.png") repeat scroll 0 100%; }

.yellow-skin:hover {
  background: #ce8735; }

.ultra-skin {
  padding: 20px 10px;
  font-weight: 600;
  background: url("patterns/3.png") repeat scroll 0 0; }

.ultra-skin:hover {
  background: url("patterns/4.png") repeat scroll 0 0; }
