
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutStore.cshtml";
}

<ul class="thumbnails">
    <li class="span3">
        <div class="thumbnail">
            <a href="product_details.html"><img src="themes/images/products/2.jpg" alt=""></a>
            <div class="caption">
                <h5>Product name</h5>
                <h4><a class="btn" href="product_details.html">VIEW</a> <span class="pull-right">$222.00</span></h4>
            </div>
        </div>
    </li>
    <li class="span3">
        <div class="thumbnail">
            <a href="product_details.html"><img src="themes/images/products/3.jpg" alt=""></a>
            <div class="caption">
                <h5>Product name</h5>
                <h4><a class="btn" href="product_details.html">VIEW</a> <span class="pull-right">$222.00</span></h4>
            </div>
        </div>
    </li>
    <li class="span3">
        <div class="thumbnail">
            <a href="product_details.html"><img src="themes/images/products/4.jpg" alt=""></a>
            <div class="caption">
                <h5>Product name</h5>
                <h4><a class="btn" href="product_details.html">VIEW</a> <span class="pull-right">$222.00</span></h4>
            </div>
        </div>
    </li>
    <li class="span3">
        <div class="thumbnail">
            <a href="product_details.html"><img src="themes/images/products/5.jpg" alt=""></a>
            <div class="caption">
                <h5>Product name</h5>
                <h4><a class="btn" href="product_details.html">VIEW</a> <span class="pull-right">$222.00</span></h4>
            </div>
        </div>
    </li>
    <li class="span3">
        <div class="thumbnail">
            <a href="product_details.html"><img src="themes/images/products/2.jpg" alt=""></a>
            <div class="caption">
                <h5>Product name</h5>
                <h4><a class="btn" href="product_details.html">VIEW</a> <span class="pull-right">$222.00</span></h4>
            </div>
        </div>
    </li>
    <li class="span3">
        <div class="thumbnail">
            <a href="product_details.html"><img src="themes/images/products/3.jpg" alt=""></a>
            <div class="caption">
                <h5>Product name</h5>
                <h4><a class="btn" href="product_details.html">VIEW</a> <span class="pull-right">$222.00</span></h4>
            </div>
        </div>
    </li>
    <li class="span3">
        <div class="thumbnail">
            <a href="product_details.html"><img src="themes/images/products/4.jpg" alt=""></a>
            <div class="caption">
                <h5>Product name</h5>
                <h4><a class="btn" href="product_details.html">VIEW</a> <span class="pull-right">$222.00</span></h4>
            </div>
        </div>
    </li>
    <li class="span3">
        <div class="thumbnail">
            <a href="product_details.html"><img src="themes/images/products/5.jpg" alt=""></a>
            <div class="caption">
                <h5>Product name</h5>
                <h4><a class="btn" href="product_details.html">VIEW</a> <span class="pull-right">$222.00</span></h4>
            </div>
        </div>
    </li>
    <li class="span3">
        <div class="thumbnail">
            <a href="product_details.html"><img src="themes/images/products/2.jpg" alt=""></a>
            <div class="caption">
                <h5>Product name</h5>
                <h4><a class="btn" href="product_details.html">VIEW</a> <span class="pull-right">$222.00</span></h4>
            </div>
        </div>
    </li>
    <li class="span3">
        <div class="thumbnail">
            <a href="product_details.html"><img src="themes/images/products/3.jpg" alt=""></a>
            <div class="caption">
                <h5>Product name</h5>
                <h4><a class="btn" href="product_details.html">VIEW</a> <span class="pull-right">$222.00</span></h4>
            </div>
        </div>
    </li>
    <li class="span3">
        <div class="thumbnail">
            <a href="product_details.html"><img src="themes/images/products/4.jpg" alt=""></a>
            <div class="caption">
                <h5>Product name</h5>
                <h4><a class="btn" href="product_details.html">VIEW</a> <span class="pull-right">$222.00</span></h4>
            </div>
        </div>
    </li>
    <li class="span3">
        <div class="thumbnail">
            <a href="product_details.html"><img src="themes/images/products/5.jpg" alt=""></a>
            <div class="caption">
                <h5>Product name</h5>
                <h4><a class="btn" href="product_details.html">VIEW</a> <span class="pull-right">$222.00</span></h4>
            </div>
        </div>
    </li>
</ul>

