<div class="footer">
    <a href="#" class="scrollToTop"></a>
    <div class="pull-right">
        <strong>ECOM - </strong> - 1.0.0.0 - &copy; @DateTime.Now.Year
    </div>
    <div>
        <span class="m-r-sm text-muted"><img src="" width="" /></span>
    </div>
</div>

