@model List<ECOM.Web.ViewModels.FornecedorViewModels>

<div class="row wrapper border-bottom white-bg page-heading animated fadeInDown">
    <div class="col-sm-4">
        <h2>Cadastro Fornecedor </h2>
        <ol class="breadcrumb">
            <li class="active">
                <strong>Fornecedor</strong>
            </li>
        </ol>
    </div>
</div>

@Html.Partial("_Result")

